<div class="recipe-detail" itemscope itemtype="http://schema.org/Recipe">
  <article>
    <h2>{{ $ctrl.recipe.title }}</h2>

    <!--<img ng-src="{{ $ctrl.recipe.mainImageUrl }}" />-->
    <img ng-src="img/home/{{$ctrl.mainImageUrl}}" class="recipe-detail-image" />

    <ul class="recipe-thumbs">
      <li ng-repeat="img in $ctrl.recipe.images">
        <img ng-src="img/home/{{img}}" ng-click="$ctrl.setImage(img)" />
      </li>
    </ul>

    <p>{{ $ctrl.recipe.description }}</p>

    <div class="info">
      <strong>Cuisine:</strong>
      <span>{{ $ctrl.recipe.cuisine }}</span><br>
      <strong>Ingredients:</strong>
      <ul class="ingredients">
        <li ng-repeat="ingredient in $ctrl.recipe.ingredients">
          - {{ ingredient }}
        </li>
      </ul>
    </div>

    <div itemprop="recipeInstructions" ng-repeat="instruction in $ctrl.recipe.instructions">
      <p>
        {{ instruction }}
      </p>
    </div>

    <form ng-submit="addComment()" name="commentForm">
      <input type="text" name="comment" ng-required="true" ng-model="comment">
      <button type="submit">SUBMIT</button>
    </form>

    <ul class="comments">
      <li ng-repeat="comment in $ctrl.recipe.comments">
        - {{ comment }}
      </li>
    </ul>

  </article>
</div>
